# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/client-src/dist
/client-src/tmp
/client-src/out-tsc
/dist
/tmp
/out-tsc
/public


# dependencies
/client-src/node_modules
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/client-src/npm-debug.log
/client-src/testem.log
/client-src/typings

# e2e
/client-src/e2e/*.js
/client-src/e2e/*.map

# System Files
/client-src/.DS_Store
/client-src/Thumbs.db
.DS_Store
Thumbs.db
