# See http://help.github.com/ignore-files/ for more about ignoring files.

# secret config files
/server/config/config-private.js


# compiled output
/client/dist
/client/tmp
/client/out-tsc
/server/dist
/server/tmp
/server/out-tsc
/server/public


# dependencies
/client/node_modules
/server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/client/npm-debug.log
/client/testem.log
/client/typings

# e2e
/client/e2e/*.js
/client/e2e/*.map

# System Files
/client/.DS_Store
/client/Thumbs.db
.DS_Store
Thumbs.db
